{%- style -%}
  .iphone-1 {
    width: 430px;
    margin-left: 240px;
    margin-top: 0;
  }


  .iphone-2 {
    width: 308px;
    position: absolute;
    top: 101px;
    left: 116px;
  }

  .circle {
    position: relative;
    float: left;
    margin: 0 16px 0 0;
    clear: both;
    display: flex;
    width: 66px;
    height: 66px;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: #B3341C;
    border-radius: 100%;
    color: #fff;
    font-family: Oswald, sans-serif;
    font-size: 32px;
    line-height: 129.7%;
    text-transform: uppercase;
  }

  .how-it-works {
    background: #E8E8E8;
  }

  .how-it-works ul li {
    font-family: Lato;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    position: relative;
  }

  .how-it-works .button {
    margin: 35px 0;
  }

  .how-it-works__text-description {
    padding: 23px 70px;
  }

  .how-it-works__text-description li {
    list-style: none;
    margin: 24px 0;

    display: flex;
    font-size: 18px;
  }

  .how-it-works__text-description li span:last-child {
    padding: 8px 0;
    display: inline-block;
  }

  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}
    px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}
    px;
  }


  @media screen and (max-width:1220px) {

    .iphone-1 {
      width: 430px;
      margin: auto;
      display: block;
    }


    .iphone-2 {
      width: 308px;
      position: absolute;
      top: 101px;
      left: 0;
    }

  }


  @media screen and (max-width:1000px) {


    /* 

  .iphone-2 {
    width: 208px;
   
    
  } */


    .how-it-works__text-description {
      padding: 23px 0;
    }


  }


  @media screen and (min-width: 750px) {
    .how-it-works__text-description li {
      font-size: 20px;
    }

    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}
      px;
      padding-bottom: {{ section.settings.padding_bottom }}
      px;
    }
  }
{%- endstyle -%}


<div class="page-width  section-{{ section.id }}-padding">
  <div class="grid grid--1-col grid--2-col-tablet">
    <div class="grid__item">

      <div class="how-it-works__img position-relative">
        <img
          src="https://cdn.shopify.com/s/files/1/2141/7697/files/iPhone-12-Pro-1.png?v=1689068101"
          alt=""
          class="img-fluid iphone-1">

        <img
          src="https://cdn.shopify.com/s/files/1/2141/7697/files/iPhone-12-Pro_480x480.png?v=1689068123"
          alt=""
          class="img-fluid iphone-2">

      </div>

    </div>
    <div class="grid__item">


      <div class="how-it-works__text-description">

        <h3>HOW IT WORKS</h3>

        <ul>


          <li>
            <span class="circle">
              1
            </span>

            <span>FILL OUT 2-MINUTE STYLE QUIZ<br class="small-hide medium-hide">
              AND SHARE YOUR LOGOS</span>
          </li>

          <li>
            <span class="circle">
              2
            </span>

            <span>
              APPROVE FREE CUSTOM DESIGNS<br class="small-hide medium-hide">
              FROM OUR GRAPHIC ART TEAM

            </span>
          </li>

          <li>
            <span class="circle">
              3
            </span>

            <span>
              GET YOUR CUSTOM UNIT<br class="small-hide medium-hide">
              WEBSTORE, OPEN 24/7/365</span>
          </li>

          <li>
            <span class="circle">
              4
            </span>

            <span>
              PLACE ORDERS INDIVIDUALLY <br class="small-hide medium-hide"> OR BUY IN BULK - NO MOQs</span>
          </li>


        </ul>

        <a href="/pages/create-your-store" class="button button--black">Get Started Now</a>

      </div>

    </div>
  </div>


</div>


{% schema %}
  {
    "name": "How It Works",
    "class": "how-it-works",
    "settings": [
      {
        "type": "header",
        "content": "t:sections.all.padding.section_padding_heading"
      }, {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "t:sections.all.padding.padding_top",
        "default": 36
      }, {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "t:sections.all.padding.padding_bottom",
        "default": 36
      }
    ],
    "presets": [
      {
        "name": "How It works"

      }

    ]
  }
{% endschema %}