{{ 'emblem-home-banner.css' | asset_url | stylesheet_tag }}

<div style="background-color:#151415; color:#fff; position:relative; background-image:url({{ section.settings.image | image_url }})">

<div class="page-width">
  <div class="grid grid--1-col">

    <div class="grid__item  d-flex align-items-center justify-content-right">


      <div class="home-banner__content ">

        {% if section.settings.heading %}
          <h1 class="text-white text-uppercase m-0">

            {{ section.settings.heading }}
          </h1>

        {% endif %}


        {% if section.settings.content %}
          <p>
            {{ section.settings.content }}
          </p>
        {% endif %}

        <div class="banner__buttons banner__buttons--multiple">
          {% if section.settings.button_link_1 %}
            <a href="{{section.settings.button_link_1}}" class="button button--secondary">{{ section.settings.button_text_1 }}</a>
          {% endif %}
          {% if section.settings.button_link_2 %}
            <a href="{{section.settings.button_link_2}}" class="button button--primary">{{ section.settings.button_text_2 }}</a>
          {% endif %}
        </div>



      </div>
      </div>

    </div>

   {% comment %}
    
<div class="grid__item">
      <img
        src="{{ section.settings.image | image_url }}"
        style="max-width:710px; float:right"
        class="img-fluid">
   {% endcomment %} 
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "Banner",
    "tag": "section",
    "class": "home-banner",

    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Pick a banner image"
      },
      {
        "type": "text",
        "id": "heading",
        "default": "Heading here",
        "label": "Heading"
      },
      {
        "type": "text",
        "id": "content",
        "default": "Info here",
        "label": "Text info"
      },

      {
        "type": "url",
        "id": "button_link_1",
        "label": "Button link 1"
      }, {
        "type": "url",
        "id": "button_link_2",
        "label": "Button link 2"
      }, {
        "type": "text",
        "id": "button_text_1",
        "default": "Primary button text",
        "label": "Button text"
      }, {
        "type": "text",
        "id": "button_text_2",
        "default": "Secondary button text",
        "label": "Button text"
      }



    ],


    "presets": [
      {
        "name": "Home Banner"

      }
    ]
  }
{% endschema %}