{{ 'section-main-page.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
    background-color: #151415;
    color: #fff;
    background-image: url('{{'rocket-pointer.svg' | file_url }}');


    background-position: 22% 83%;
    background-repeat: no-repeat;

  }

  .mb-38px {
    margin-bottom: 38px;
  }

  .find-grear p {
    margin: 30px 0 !important;
  }

  .find-store {
    background: #fff;
  }

  .past-clients {
    display: table;
    width: 100%;
    padding: 47px 0 67px
  }

  .past-clients__row img {
    margin: 20px 40px;

  }

  @media screen and (min-width: 750px) {

    .past-clients__row img {
      margin: 10px 70px;

    }


    .past-clients {
      width: 100%;
      padding: 57px 0 77px
    }


    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}


<script src="{{ 'search-form.js' | asset_url }}" defer="defer"></script>

<section class="section-{{ section.id }}-padding">
  <div class="text-center">
    <div class="page-width page-width--narrow page-width--narrow-680 find-grear">
      <h1 class="mb-38px main-page-title page-title text-white text-uppercase  {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}">
        {{ page.title | escape }}
      </h1>


      <div class=" rte{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
        {{ page.content }}
      </div>


      <div class="serach-form">


        <search-form class="search-modal__form newsletter-form__field-wrapper">

          <form
            action="{{ routes.search_url }}"
            method="get"
            role="search"
            class="search search-modal__form">
            <div class="field">
              <input
                class="field__input"
                id="{{ input_id }}"
                type="search"
                name="q"
                value="{{ search.terms | escape }}"
                placeholder="Search Unit Name, Number..."
                {%- if settings.predictive_search_enabled -%}role="combobox"aria-expanded="false"aria-owns="predictive-search-results"aria-controls="predictive-search-results"aria-haspopup="listbox"aria-autocomplete="list"autocorrect="off"autocomplete="off"autocapitalize="off"spellcheck="false"{%- endif -%}>
              <label class="field__label" for="{{ input_id }}">Search Unit Name, Number...</label>
              <input
                type="hidden"
                name="options[prefix]"
                value="last">
              <button
                type="reset"
                class="reset__button field__button{% if search.terms == blank %} hidden{% endif %}"
                aria-label="{{ 'general.search.reset' | t }}">
                <svg
                  class="icon icon-close"
                  aria-hidden="true"
                  focusable="false">
                  <use xlink:href="#icon-reset"></svg>
                </button>
                <button class="button" aria-label="Search Unit Name, Number...">
                  Submit
                </button>
              </div>

              {%- if settings.predictive_search_enabled -%}
                <div
                  class="predictive-search predictive-search--header"
                  tabindex="-1"
                  data-predictive-search>
                  <div class="predictive-search__loading-state">
                    <svg
                      aria-hidden="true"
                      focusable="false"
                      class="spinner"
                      viewBox="0 0 66 66"
                      xmlns="http://www.w3.org/2000/svg">
                      <circle
                        class="path"
                        fill="none"
                        stroke-width="6"
                        cx="33"
                        cy="33"
                        r="30"></circle>
                  </svg>
                </div>
              </div>

              <span
                class="predictive-search-status visually-hidden"
                role="status"
                aria-hidden="true"></span>
            {%- endif -%}
          </form>


        </search-form>


      </div>
    </div>
  </div>
</section>

<section class="past-clients">

  <div class="page-width text-center">

    <h3 class="text-uppercase mt-0">Past Client</h3>

    <div class="past-clients__row">

      {%- for block in section.blocks -%}


        {{ block.settings.image_section | img_url: 'medium' | img_tag }}


      {%- endfor -%}

    </div>

  </div>

</section>


{% schema %}
  {
    "name": "t:sections.main-page.name",
    "tag": "section",
    "class": "section find-store",
    "settings": [
      {
        "type": "header",
        "content": "t:sections.all.padding.section_padding_heading"
      }, {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "t:sections.all.padding.padding_top",
        "default": 36
      }, {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "t:sections.all.padding.padding_bottom",
        "default": 36
      }
    ],
    "blocks": [
      {
        "type": "heading",
        "name": "Client Images",
        "limit": 10,
        "settings": [
          {
            "type": "image_picker",
            "id": "image_section",
            "label": "Pick a client logo image"
          }
        ]
      }
    ]


  }
{% endschema %}