{{ 'section-main-page.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}
    px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}
    px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}
      px;
      padding-bottom: {{ section.settings.padding_bottom }}
      px;
    }
  }
{%- endstyle -%}

<script src="{{ 'search-form.js' | asset_url }}" defer="defer"></script>


<svg xmlns="http://www.w3.org/2000/svg" class="hidden">

  <symbol
    id="icon-search"
    viewbox="0 0 18 19"
    fill="none">
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M11.03 11.68A5.784 5.784 0 112.85 3.5a5.784 5.784 0 018.18 8.18zm.26 1.12a6.78 6.78 0 11.72-.7l5.4 5.4a.5.5 0 11-.71.7l-5.41-5.4z"
      fill="currentColor" />
  </symbol>

  <symbol
    id="icon-reset"
    class="icon icon-close"
    fill="none"
    viewBox="0 0 18 18"
    stroke="currentColor">
    <circle
      r="8.5"
      cy="9"
      cx="9"
      stroke-opacity="0.2" />
    <path
      d="M6.82972 6.82915L1.17193 1.17097"
      stroke-linecap="round"
      stroke-linejoin="round"
      transform="translate(5 5)" />
    <path
      d="M1.22896 6.88502L6.77288 1.11523"
      stroke-linecap="round"
      stroke-linejoin="round"
      transform="translate(5 5)" />
  </symbol>

  <symbol
    id="icon-close"
    class="icon icon-close"
    fill="none"
    viewBox="0 0 18 17">
    <path d="M.865 15.978a.5.5 0 00.707.707l7.433-7.431 7.579 7.282a.501.501 0 00.846-.37.5.5 0 00-.153-.351L9.712 8.546l7.417-7.416a.5.5 0 10-.707-.708L8.991 7.853 1.413.573a.5.5 0 10-.693.72l7.563 7.268-7.418 7.417z" fill="currentColor">
  </symbol>
</svg>


{% render 'header-search', input_id: 'Search-In-Modal' %}

<div class="page-width page-width--narrow section-{{ section.id }}-padding">
  <h1 class="main-page-title page-title h0{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}">
    {{ page.title | escape }}
  </h1>
  <div class="rte{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
    {{ page.content }}
  </div>
</div>

{% schema %}
  {
    "name": "t:sections.main-page.name",
    "tag": "section",
    "class": "section",
    "settings": [
      {
        "type": "header",
        "content": "t:sections.all.padding.section_padding_heading"
      }, {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "t:sections.all.padding.padding_top",
        "default": 36
      }, {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "t:sections.all.padding.padding_bottom",
        "default": 36
      }
    ]
  }
{% endschema %}